html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: #fff4f4;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
  font-weight: 400;
  color: #4e4d4d;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p,
ol,
ul {
  margin-top: 0;
}

.ulCarrito{
  background-color: white;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

p {
  line-height: 180%;
}

a {
  color: #383838;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.carro{
  width: 30px;
  height: 30px;
  margin-top: 6px;
  filter: invert(1); /* Para el color blanco */
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image {
  display: inline-block;
}

.image img {
  display: block;
  width: 100%;
}

.image-full {
  display: block;
  width: 100%;
  margin: 0 0 0 0;
}

.image-left {
  float: left;
  margin: 0 2em 2em 0;
}

.image-centered {
  display: block;
  margin: 0 0 2em 0;
}

.image-centered img {
  margin: 0 auto;
  width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.contact {
  overflow: hidden;
  margin: 0em 0 3em 0;
  padding-top: 1em;
  text-align: center;
}

ul.contact li {
  display: inline-block;
  padding: 0em 0.3em;
  font-size: 1em;
}

ul.contact li span {
  display: none;
  margin: 0;
  padding: 0;
}

ul.contact li a {
  color: #fff;
}

ul.contact li a:before {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.3);
}


/*********************************************************************************/
/* Title Styles                                                                  */
/*********************************************************************************/

.title {
  text-align: center;
}

.title h2 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
  color: #3f3f3f;
}

.title .byline {
  display: block;
  padding-top: 1em;
  font-weight: 300;
  font-size: 1.1em;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
  display: inline-block;
  margin: 1em 0em;
  padding: 1em 3em 1em 3em;
  background: #2a70e8;
  border-radius: 8px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9em;
  color: #fff;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

header {
  background: #c5c0a8;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu ul {
  margin: 0;
  padding: 20px 0px 20px 0px;
  list-style: none;
  line-height: normal;
  text-align: center;
}

#menu li {
  display: inline-block;
}

#menu a {
  display: block;
  padding: 1em 2em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
}

#menu .current_page_item a {
  border-radius: 30px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page-wrapper {
  background: #eeeeee;
}

#page {
  overflow: hidden;
  padding: 6em 0em;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content {
  float: left;
  width: 588px;
  text-align: center;
}

#content .title {
  padding: 1em 2em 2em 2em;
  text-align: center;
}

#content h2 {
  font-size: 2em;
}

#content .byline {
  padding-top: 0;
  font-size: 1.5em;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar {
  float: right;
  width: 588px;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
  overflow: hidden;
  padding: 5em 0em;
}

#copyright p {
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #6f6f6f;
}

#copyright a {
  text-decoration: none;
  color: #8c8c8c;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured-wrapper {
  overflow: hidden;
  padding: 5em 0em;
  background: #fff;
}

#featured h2 {
  text-align: center;
}

#featured .icon {
  position: relative;
  display: block;
  background: #2a70e8;
  margin: 0px auto 20px auto;
  line-height: 2.5em;
  font-size: 4em;
  text-align: center;
  color: #fff;
}

.column1,
.column2,
.column3,
.column4 {
  width: 282px;
}

.column1,
.column2 {
  float: left;
  margin-right: 24px;
}

.column3 {
  float: left;
}

.column4 {
  float: right;
}

/*********************************************************************************/
/* nav                                                                   */
/*********************************************************************************/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
/*********************************************************************************/
/* form                                                                   */
/*********************************************************************************/

.form-style-10 {
  width: 450px;
  padding: 30px;
  margin: 40px auto;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap {
  padding: 30px;
  background: #f8f8f8;
  border-radius: 6px;
  margin-bottom: 15px;
}
.form-style-10 h1 {
  background: #2a88ad;
  padding: 20px 30px 15px 30px;
  margin: -30px -30px 30px -30px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px "Bitter", serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257c9e;
}
.form-style-10 h1 > span {
  display: block;
  margin-top: 2px;
  font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label {
  display: block;
  font: 13px Arial, Helvetica, sans-serif;
  color: #000;
  margin-bottom: 15px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: 2px solid #fff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section {
  font: normal 20px "Bitter", serif;
  color: #2a88ad;
  margin-bottom: 5px;
}
.form-style-10 .section span {
  background: #2a88ad;
  padding: 5px 10px 5px 10px;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 4px solid #fff;
  font-size: 14px;
  margin-left: -45px;
  color: #fff;
  margin-top: -3px;
}
.form-style-10 input[type="button"],
.form-style-10 input[type="submit"],
.form-style-10 input[type="reset"]{
  background: #2a88ad;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px "Bitter", serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257c9e;
  font-size: 15px;
}
.form-style-10 input[type="button"]:hover,
.form-style-10 input[type="submit"]:hover,
.form-style-10 input[type="reset"]:hover {
  background: #2a6881;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.form-style-10 .privacy-policy {
  float: right;
  width: 250px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #4d4d4d;
  margin-top: 10px;
  text-align: right;
}

/*********************************************************************************/
/* table                                                                  */
/*********************************************************************************/

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.popup {
  background-color: #ffffff;
  color: #888888;
  height: 245px;
  left: 100%;
  padding: 20px;
  position: fixed;
  right: 30%;
  top: 25%;
  width: 550px;
  z-index: 101;
  -moz-box-shadow: 0px 0px 10px 1px #888888;
  -webkit-box-shadow: 0px 0px 10px 1px #888888;
  box-shadow: 0px 0px 10px 1px #888888;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

.overlay {
  background: #000000;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  opacity: 0.5;
}

a.close {
  /*background: url("cancel.png") repeat scroll left top transparent;*/
  cursor: pointer;
  float: right;
  height: 26px;
  left: 32px;
  position: relative;
  top: -33px;
  width: 26px;
}

/*********************************************************************************/
/* Ventana flotante                                                              */
/*********************************************************************************/

.float {
  display: none; /* Al poner display none, por defecto no aparece al cargar la página */
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4);
}

.float-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 0 auto;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.closeCarrito {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 0 auto;
}

.closeCarrito:hover,
.closeCarrito:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-foto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.canvas{
  border:1px solid #000000;
  display: none;
}

.imgProducto{
  width: 120px;
  height: 120px;
}

.liArticulo{
  display: flex;
  flex-direction: column;
  background-color: white;
}

.boton{
  margin: 15px;
}
